<%= form_for(@registration_whitelist) do |f| %>
  <% if @registration_whitelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_whitelist.errors.count, "error") %> prohibited this registration_whitelist from being saved:</h2>

      <ul>
      <% @registration_whitelist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.email_field :email, placeholder: 'email.address@example.com' %>

  <div class="actions">
    <%= f.submit value: "Allow this user to register", class: "btn btn-primary" %>
  </div>
<% end %>
