<%= form_for :user, url: '/users/sign_in', method: 'post' do |f| %>
  <div class="control-group">
    <label class="control-label" for="user-email">Email</label>
    <div class="controls">
      <%= f.email_field :email, id: 'user-email', class: 'input-lg',
        required: true, autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user-password">Password</label>
    <div class="controls">
      <%= f.password_field :password, id: 'user-password', class: 'input-lg',
        required: true %>
    </div>
  </div>

  <center>
    <br/>
    <%= f.submit 'Sign In', class: 'btn btn-lg btn-primary' %>
    or <%= link_to 'Register a new account', new_user_registration_path %>
  </center>

<% end %>
