<h1>Subjects</h1>

<table class="subjects table table-striped">
  <tr>
    <th class="name">Name</th>
    <th class="desc">Description</th>
    <th>Actions</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to subject.name, subject %></td>
    <td><%= truncate subject.description %>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_subject_path(subject), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          subject_path(subject),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Subject', new_subject_path, class: 'btn btn-primary' %>
