<%- model_class = Subject -%>
<div class="page-header">
  <h1><%= t '.title', default: @subject.name %></h1>
  <p><%= truncate @subject.description %></p>
</div>

<h2>Items in stock</h2>
<% if @subject.items_in_stock.any? %>
  <%= render partial: 'items_in_stock' %>
<% else %>
  <em>No items in stock</em>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), subjects_path, :class => 'btn' %>
  <%= link_to 'Add Item', new_subject_item_in_stock_path(@subject), class: 'btn btn-primary' %>
</div>
