<%- model_class = Item -%>

<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

<table class="items table table-striped datatable" data-uri="/datatables/items">
  <thead>
    <tr>
      <th class="name"><%= model_class.human_attribute_name(:name) %></th>
      <th class="size"><%= model_class.human_attribute_name(:size) %></th>
      <th class="units"><%= model_class.human_attribute_name(:units) %></th>
      <th class="tags"><%= "Category" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
