<%= form_for [@location, @item_in_stock], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'Item', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :item_id, options_from_collection_for_select(Item.all, :id, :name_and_info) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), location_items_in_stock_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
