<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'CHS Inventory', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Locations', locations_path %></li>
        <li><%= link_to 'Items', items_path %></li>
        <li><%= link_to 'Categories', tags_path %></li>
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to 'Admin', admin_path %></li>
        <% end %>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to 'Sign out', destroy_user_session_path,
          method: "delete" %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
