<%= errors(resource, "Whoops! Registration didn't work because:") %>

<%= form_for :user, url: user_registration_path, method: 'post' do |f| %>
  <div class="control-group">
    <label class="control-label" for="user-email">Email</label>
    <div class="controls">
      <%= f.email_field :email, id: 'user-email', class: 'input-lg',
        required: true, autofocus: true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user-password"></label>
    <div class="controls">
      <%= f.password_field :password, id: 'user-password', class: 'input-lg',
        required: true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user-password-confirmation">Confirm password</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, id: 'user-password-confirmation',
        class: 'input-lg', required: true %>
    </div>
  </div>

  <center>
    <br/>
    <%= f.submit 'Register', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Cancel', root_path %>
  </center>
<% end %>
